In [1]:
# =========================================
# Student Performance Prediction - Pass/Fail Classification
# Author: GUTTI BHARGAVI
# =========================================
# -----------------------------
# 1. Import Libraries
# -----------------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# -----------------------------
# 2. Load Dataset
# -----------------------------
# Make sure student_data.csv is in 'data/' folder
df = pd.read_csv("student_data.csv")
print("Dataset Loaded Successfully!\n")
display(df.head())
# -----------------------------
# 3. Data Cleaning
# -----------------------------
df.dropna(inplace=True)  # Remove missing values
print("\nData Info After Cleaning:")
df.info()
# -----------------------------
# 4. Create Pass/Fail Column
# -----------------------------
# Pass if final_score >=50, else Fail
df['pass_fail'] = df['final_score'].apply(lambda x: 'Pass' if x >= 50 else 'Fail')
print("\nDataset with Pass/Fail Column:")
display(df.head())

Dataset Loaded Successfully!

   study_hours  attendance  previous_score  final_score
0            5          85              70           75
1            3          60              55           58
2            8          90              80           85
3            2          50              45           50
4            6          75              65           70

Data Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   study_hours     50 non-null     int64
 1   attendance      50 non-null     int64
 2   previous_score  50 non-null     int64
 3   final_score     50 non-null     int64
dtypes: int64(4)
memory usage: 1.7 KB

Dataset with Pass/Fail Column:

   study_hours  attendance  previous_score  final_score pass_fail
0            5          85              70           75      Pass
1            3          60              55           58      Pass
2            8          90              80           85      Pass
3            2          50              45           50      Pass
4            6          75              65           70      Pass